.claude/skills/tg-export/config.json
.claude/settings.local.json
tg-export/session.session
.claude/skills/tg-export/session.session
.claude/skills/tg-export/session.session-journal
tg-export/@gaperton_tech.old
*.mp4
tg-export/@gaperton_tech/2025-10/2025-10-27_343.files/Graver 2007 Stoicism and Emotion.pdf
2143-temporal-logic-from-ancient-ideas-to-artificial-intelligence.pdf